html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 90px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	height: 80px;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
}

body > .container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.list-participants li {
	margin-bottom: 5px;
}

.card-results {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
}

.card-results:hover {
	background-color: #f9f9f9;
}

.sum-of-estimates {
	line-height: 30px;
	margin-right: 5px;
}
